# ESP
.cache
build
.clangd
managed_components
secrets.h


.env*
!.env*.example
.env.dev

docker/mosquitto/passwd
docker/certs
docker/mosquitto-data-dev/
docker/mosquitto-logs-dev/

main/components/cert_store/certs
